Library/**
Build/**
Temp/**
Documentation/**

Assets/PolygonVikings/**
Assets/SimpleForestAnimal/**
Assets/SimpleFX/**

Assets/PolygonVikings.meta
Assets/SimpleForestAnimal.meta
Assets/SimpleFX.meta

*.csproj
*.sln
.vs/**
